<nav class="navbar navbar-inverse navbar-dark bg-dark h4">
  <ul>
    <span><%=link_to "One", pages_one_path %></span>
    <span><%=link_to "Two", pages_two_path %></span>
    <span><%= link_to "Three", pages_three_path %></span>
  </ul>
</nav>
<hr />
<br />
