<div class="container text-light bg-dark">
  <h2 class="h1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quis eveniet
    voluptatem eaque voluptates, explicabo exercitationem impedit porro, ducimus
    pariatur odit omnis delectus laborum ipsum nam, deleniti voluptas adipisci
    atque?
  </h2>
</div>
